<div class="page-header">
  <h1>Destiny Angular Service</h1>
  <p class="lead">Primarily a learning excercise.</p>
</div>

<p>Requires cross-origin resource sharing (CORS) to make succesful calls to the API. <a href="https://chrome.google.com/webstore/detail/allow-control-allow-origi/nlfbmbojpeacfghkpbjhddihlkkiljbi">I use a Chrome extension</a>. API calls are output to the console.</p>

<div>

  <table class="table">

    <thead>
      <tr>
        <th class="col-sm-4">method</th>
        <th class="col-sm-8">description</th>
      </tr>
    </thead>

    <tbody>

      <!-- accountSummary -->
      <tr>
        <td>
          <api-test-btn method="main.accountSummary" params="{ membershipType: '1',  destinyMembershipId: '4611686018434032983' }">
            accountSummary
          </api-test-btn>
        </td>
        <td>
          Returns Destiny account information for the supplied membership in a compact summary form.
        </td>
      </tr>

      <!-- activityHistory -->
      <tr>
        <td>
          <api-test-btn method="main.activityHistory" params="{ membershipType: '1',  destinyMembershipId: '4611686018434032983', characterId: '2305843009344925265' }">
            activityHistory
          </api-test-btn>
        </td>
        <td>Gets activity history stats for indicated character.</td>
      </tr>

      <!-- character -->
      <tr>
        <td>
          <api-test-btn method="main.character" params="{ membershipType: '1',  destinyMembershipId: '4611686018434032983', characterId: '2305843009344925265' }">
            character
          </api-test-btn>
        </td>
        <td>Returns a character summary for the supplied membership.</td>
      </tr>

      <!-- stats defintion-->
      <tr>
        <td>
          <api-test-btn method="main.statsDefinition">
            statsDefinition
          </api-test-btn>
        </td>
        <td>
          Gets historical stats definitions.
          <a href="https://www.bungie.net/platform/destiny/help/HelpDetail/GET?uri=Stats%2fDefinition%2f">
            <span class="glyphicon glyphicon-link"></span>
          </a>
        </td>
      </tr>

      <!-- character stats -->
      <tr>
        <td>
          <api-test-btn method="main.characterStats" params="{ membershipType: '1',  destinyMembershipId: '4611686018434032983', characterId: '2305843009344925265' }">
            characterStats
          </api-test-btn>
        </td>
        <td>Gets historical stats for indicated character.</td>
      </tr>

      <!-- searchDestinyPlayer -->
      <tr>
        <td>
          <api-test-btn method="main.searchDestinyPlayer" params="{ destinyPlayer: 'eightdotthree', membershipType: '1' }">
            searchDestinyPlayer
          </api-test-btn>
        </td>
        <td>Returns a list of Destiny memberships given a full Gamertag or PSN ID.</td>
      </tr>

    </tbody>

  </table>

</div>
